<?xml version="1.0" encoding="GBK"?>
<!-- 指定Spring配置文件的Schema信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myService" class="lee.MyServiceImpl"/>

    <bean id="loginAction" class="lee.LoginAction" scope="prototype">
		<property name="ms" ref="myService"/>
	</bean>
</beans>

